.dialog-icon {
  margin-top: -10px;
  font-size: 3em;  
  color: #4CAF50;  
  padding-top: 4px;
  width: 50px;
  height: 50px;
  text-align: center;
  margin-right: 20px;
  float: left;
}

.style-success {
  font-size: 1.5em;
  border: 2px solid #28a745;
  color: #fff;
  border-radius: 50%;
  padding-top: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
  float: left;
  background-color: #28a745;
}

.style-warning {
  font-size: 1.5em;
  border: 2px solid #dc3545;
  color: #fff;
  border-radius: 50%;
  padding-top: 4px;
  width: 30px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
  float: left;
  background-color: #dc3545;
}

.style-danger {
  font-size: 1.2em;
  background-color: #d30000;
  line-height: 43px;
  border-radius: 50%;
  color: #fff;
  width: 45px;
  height: 45px;
  text-align: center;
}

.button-style{
  font-size: 1.1em;
  background-color: #616161;
  font-weight: bold;
  border: 0px solid;
  padding: 7px 15px;
  color: #fff;
  border-radius: 0;
}

.success-message .dialog-icon {
  border: 2px solid #4CAF50;
  color: #4CAF50;  
  border: 2px solid #4CAF50;
  border-radius: 50%;
}
.information-message .dialog-icon {
  color:#007BFF;
}
.warning-message .dialog-icon {
  color: #db9c15;  
}

button {
  margin: 0 5px;
}

.error-message .dialog-icon {
  color: #9c3737;
}

.p{
  padding: 15px;
}
.dialog-button {
  margin: 0 5px;
}

:host {
  ::ng-deep .bttn {
    padding: 5px 15px;
    font-size: 1em;
    background-color: #2b86c2;
    border: 0px solid;
    line-height: 20px;
    margin: 0 0.5em 0 0;
    width: auto;
  }
}

:host{
  ::ng-deep .ui-dialog::ng-deep.ui-dialog-footer{
    background-color: #e6e7e8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}


:host{
  ::ng-deep.ui-button-text{
    display: none !important;
  }
}
