<app-alert [(visible)]="alertData.display" [extraData]="alertData.extraData" [type]="alertData.typ"
    [hasConfirm]="alertData.isConfirm" (action)="callbackAlert($event)" [content]="alertData.content"
    [title]="alertData.title"></app-alert>
<ng-template #noSearch let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{'generic.errore' | translate}}</h4>
        <button type="button" class="close" aria-label="Close" (click)="closeReg()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        Non Puoi cercare comunicazioni non Regionali
    </div>
    <div class="modal-footer">
        <button type="button" class="bttn btn btn-primary" (click)="closeReg()">{{'generic.ok'|translate}}</button>
    </div>
</ng-template>
<div class="portlet-content-container">
    <div class="portlet-body">
        <div *ngIf="!display">
            <div [hidden]="!isPermiss">
                <div [hidden]="isDettaglio">
                    <div class="container-fluid nop mtop50">
                        <ngb-accordion #acc="ngbAccordion" class="ricerca full-width">
                            <ngb-panel id="ricerca">
                              <ng-template ngbPanelTitle>
                                {{'generic.ricerca'|translate}}
                                <fa-icon *ngIf="acc.isExpanded('ricerca')" icon="angle-double-up"></fa-icon>
                                <fa-icon *ngIf="!acc.isExpanded('ricerca')" icon="angle-double-down"></fa-icon>
                              </ng-template>
                              <ng-template ngbPanelContent>
                                  <div class="pl-3 pr-3">
                                <app-form-search *ngIf="configuration" [configuration]="configuration" [nColumns]="3"
                                    [triggerSearchEvent]="triggerSearch" (onSearch)="setFiltri($event); ricerca()"
                                    (onReset)="reset($event)">
                                </app-form-search>
                            </div>
                              </ng-template>
                            </ngb-panel>
                          </ngb-accordion>
                        <!--<p-accordion expandIcon="fa fa-angle-double-down" collapseIcon="fa fa-angle-double-up">
                            <p-accordionTab header="{{'generic.ricerca'|translate}}">
                                <app-form-search *ngIf="configuration" [configuration]="configuration" [nColumns]="3"
                                    [triggerSearchEvent]="triggerSearch" (onSearch)="ricerca($event)"
                                    (onReset)="reset($event)">
                                </app-form-search>
                            </p-accordionTab>
                        </p-accordion>-->
                        <div class="" style="padding-top: 2em;">
                            <!-- NUOVA TABELLA -->
                            <div class="dflex align-items-center">
                                <div class="col-auto nop">
                                    <div class="input-group paginazione">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">{{'generic.elementiPerPagina' | translate}}</div>
                                        </div>
                                        <p-dropdown class="dflex max100 no-min-width" (onChange)="changeRows($event.value)"
                                            [ngModel]="rowsOnPage" [options]="pages" [autoWidth]="false"></p-dropdown>
                                    </div>
                                </div>
                                <div class="col-auto" *ngIf="itemsTotal > 0">
                                    <p class="nom">{{'generic.da' | translate}} {{((rowsOnPage * page) - rowsOnPage) + 1}}
                                        {{'generic.a' | translate}}
                                        <span *ngIf="rowsOnPage * page<itemsTotal">{{rowsOnPage
                                                * page}}</span><span
                                            *ngIf="rowsOnPage * page>=itemsTotal">{{itemsTotal}}</span>
                                        di {{itemsTotal}}</p>
                                </div>
                                <div class="col" *ngIf="!gestioneComunicazione && isMedium">
                                    <div class="legenda-corrispondenza align-right">
                                        <span style="display: inline-block;">
                                            <label class="marginRight6 vmiddle">Esito con Errore</label><span _ngcontent-c16=""
                                                class="my-label label label-danger ng-star-inserted align-middle"
                                                placement="right">&nbsp;&nbsp;</span>
                                        </span>
                                        <span style="display: inline-block;">
                                            <label class="marginRight6 marginLeft15 vmiddle">Esito Positivo</label><span
                                                _ngcontent-c16=""
                                                class="my-label label label-success ng-star-inserted align-middle"
                                                placement="right">&nbsp;&nbsp;</span>
                                        </span>
                                        <span style="display: inline-block;">
                                            <label class="marginRight6  marginLeft15 vmiddle">Inviata</label>
                                            <span _ngcontent-c16="" class="my-label label label-primary 
                                                ng-star-inserted align-middle" placement="right">&nbsp;&nbsp;</span>
                                        </span>
                                        
                                    </div>
                                </div>
                                <div class="col text-right" *ngIf="gestioneComunicazione && isMedium">
                                    <button class="bttn btn btn-primary"
                                        (click)="displayNuovaComunicazione()">{{'dettaglioComunicazione.nuovaComunicazione'|translate}}</button>
                                </div>
                            </div>
                            <span *ngIf="!isMedium">
                                <div class="row" style="margin-top: .8em;" *ngIf="gestioneComunicazione">
                                    <div class="col-md-12 text-left" >
                                        <button class="bttn btn btn-primary"
                                            (click)="displayNuovaComunicazione()">{{'dettaglioComunicazione.nuovaComunicazione'|translate}}</button>
                                    </div>
                                </div>
                                <div *ngIf="!gestioneComunicazione" class="row" style="margin-top: .8em;">
                                    <div class="col-md-12 legenda-corrispondenza align-left">
                                        <span style="display: inline-block;">
                                            <label class="marginRight6">Esito con Errore</label><span _ngcontent-c16="" style="margin-right: 2em;"
                                                class="my-label label label-danger ng-star-inserted">&nbsp;&nbsp;</span>
                                        </span>
                                        <span style="display: inline-block;">
                                            <label class="marginRight6">Esito Positivo</label>
                                            <span _ngcontent-c16="" style="margin-right: 2em;"
                                                class="my-label label label-success ng-star-inserted">&nbsp;&nbsp;</span>
                                        </span>
                                        <span style="display: inline-block;">
                                            <label class="marginRight6">Inviata</label>
                                            <span _ngcontent-c16="" style="margin-right: 2em;" class="my-label label 
                                                                            label-primary ng-star-inserted">&nbsp;&nbsp;</span>
                                        </span>
                                    </div>
                                </div>
                            </span>
                            <div class="tableContainerCustom">
                                <p-table tableStyleClass="bordoTabellaNew" [autoLayout]="true" [columns]="cols"
                                    [value]="listaComunicazioni" dataKey="corrispondenza.id" (onLazyLoad)="customSort($event) " [lazy]="true"
                                    [rows]="rowsOnPage" #tab [responsive]="true" [lazyLoadOnInit]="false">
                                    <ng-template pTemplate="header" let-columns>
                                        <tr style="background-color: gray!important;">
                                            <th style="width: 45px;"></th>
                                            <!--<th [pSortableColumn]="'mittente'" class="uppercase">
                                                {{'dettaglioComunicazione.mittente'|translate}}
                                                <p-sortIcon [field]="'mittente'" ariaLabel="Activate to sort"
                                                    ariaLabelDesc="Activate to sort in descending order"
                                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                            </th>
                                            <th [pSortableColumn]="'destinatario'" class="uppercase">
                                                {{'dettaglioComunicazione.listaDestinatari'|translate}}
                                                <p-sortIcon [field]="'destinatario'" ariaLabel="Activate to sort"
                                                    ariaLabelDesc="Activate to sort in descending order"
                                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                            </th>-->
                                            <th class="uppercase">
                                                {{'dettaglioComunicazione.mittente'|translate}}
                                            </th>
                                            <th class="uppercase">
                                                {{'dettaglioComunicazione.listaDestinatari'|translate}}
                                            </th>
                                            <th style="width: 368px!important;" [pSortableColumn]="'oggetto'"
                                                class="uppercase">
                                                Oggetto
                                                <p-sortIcon [field]="'oggetto'" ariaLabel="Activate to sort"
                                                    ariaLabelDesc="Activate to sort in descending order"
                                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                            </th>
                                            <th [pSortableColumn]="'data_invio'" class="uppercase">
                                                {{'dettaglioComunicazione.onlyData'|translate}}
                                                <p-sortIcon [field]="'dataInvio'" ariaLabel="Activate to sort"
                                                    ariaLabelDesc="Activate to sort in descending order"
                                                    ariaLabelAsc="Activate to sort in ascending order"></p-sortIcon>
                                            </th>
                                            <th></th>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="body" let-rowData let-index="rowIndex" let-expanded="expanded"
                                        let-columns="columns">
                                        <tr href="#" [pRowToggler]="!rowData.corrispondenza.bozza ? rowData : null"
                                            style="height: 47px!important;">
                                            <td style="padding-left: 15px;padding-top: 10px">
                                                <a *ngIf="!rowData.corrispondenza.bozza">
                                                    <i [ngClass]="expanded ? 'pi pi-chevron-up' : 'pi pi-chevron-down'"></i>
                                                </a>
                                            </td>
                                            <td style="word-wrap:break-word">
                                                {{rowData.corrispondenza.mittenteEmail }}
                                            </td>
                                            <td><ul class="pl-2">
                                                <li *ngFor="let destinatario of rowData.destinatari">
                                                    <span style="word-wrap:break-word">{{destinatario.nome}}</span><br />
                                                </li>
                                                </ul>
                                            </td>
                                            <td>
                                                {{rowData.corrispondenza.oggetto.length>108 ? (rowData.corrispondenza.oggetto | slice:0:108)+'..':(rowData.corrispondenza.oggetto)}}
                                            </td>
                                            <td>{{rowData.corrispondenza.dataInvio ? (rowData.corrispondenza.dataInvio | date : "dd/MM/yyyy HH:mm:ss") : ''}}
                                            </td>
                                            <td class="text-center">
                                                <a style="padding-top: 1.4px" *ngIf="!rowData.corrispondenza.bozza"
                                                    container="body" class="bttn bttn-table btn btn-primary"
                                                    (click)="open(rowData)">
                                                    <div data-placement="top" data-toggle="tooltip"
                                                        pTooltip="Visualizza Dettaglio">
                                                        <fa-icon icon="ellipsis-h"></fa-icon>
                                                    </div>
                                                </a>
                                                <a style="padding-top: 1.4px" *ngIf="rowData.corrispondenza.bozza"
                                                    container="body" class="bttn bttn-table btn btn-primary"
                                                    (click)="edit(rowData)">
                                                    <div data-placement="top" data-toggle="tooltip"
                                                        pTooltip="Visualizza Dettaglio">
                                                        <fa-icon icon="edit"></fa-icon>
                                                    </div>
                                                </a>
                                                <a style="padding-top: 1.4px" *ngIf="rowData.corrispondenza.bozza"
                                                    container="body" class="bttn bttn-table btn btn-danger"
                                                    (click)="requestDeleteBozza(rowData.corrispondenza.id, index)">
                                                    <div data-placement="top" data-toggle="tooltip"
                                                        pTooltip="Visualizza Dettaglio">
                                                        <fa-icon icon="trash-alt"></fa-icon>
                                                    </div>
                                                </a>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
                                        <tr>
                                            <td colspan="6">
                                                <div style="padding-left: 40px;margin:8px;"
                                                    *ngFor="let destinatario of rowData.destinatari">
                                                    <span *ngIf="destinatario.stato ==='ESITO_POSITIVO'" _ngcontent-c16=""
                                                        class="my-label label label-success ng-star-inserted align-middle"
                                                        style="margin-right: 10px; margin-bottom: 2px"
                                                        placement="right">&nbsp;&nbsp;</span>
                                                    <span *ngIf="destinatario.stato === 'ESITO_CON_ERRORE'" _ngcontent-c16=""
                                                        class="my-label label label-danger ng-star-inserted align-middle"
                                                        style="margin-right: 10px; margin-bottom: 2px"
                                                        placement="right">&nbsp;&nbsp;</span>
                                                    <span *ngIf="destinatario.stato === 'INVIATA'" _ngcontent-c16=""
                                                        class="my-label label label-primary ng-star-inserted align-middle"
                                                        style="margin-right: 10px; margin-bottom: 2px"
                                                        placement="right">&nbsp;&nbsp;</span>
                                                    <span>{{destinatario.email}}&nbsp; &lt;{{destinatario.nome}}&gt;</span>
                                                </div>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="emptymessage" let-columns>
                                        <tr>
                                            <td [attr.colspan]="6">
                                                <span style="text-align: center">{{'generic.norows' | translate}}</span>
                                            </td>
                                        </tr>
                                    </ng-template>
                                    <ng-template pTemplate="footer" let-columns="columns">
                                        <tr>
                                            <td [attr.colspan]="6">
                                                <ngb-pagination [collectionSize]="itemsTotal" [maxSize]="10"
                                                    [ellipses]="true" [boundaryLinks]="true" [pageSize]="rowsOnPage"
                                                    (pageChange)="pageChangedAction($event)" [(page)]="page"
                                                    aria-label="Default pagination"></ngb-pagination>
                                            </td>
                                        </tr>
                                    </ng-template>
                                </p-table>
                            </div>

                        </div>
                    </div>
                </div>
                <app-dettaglio-com #dett *ngIf="isDettaglio" (action)="closeDettaglio($event)"
                    [idFascicolo]="dettaglio.id" [dettaglioComunicazione]="dettaglioCom" 
                    [itemsTotal]="countAllegati"></app-dettaglio-com>
            </div>
        </div>

        <!-- Se display è true -->
        <app-nuova-comunicazione *ngIf="display" (sendData)="inviaComunicazione($event)" (canceled)="display=false"
            [forceReset]="forceReset" [forceSubmit]="forceSubmit" [showButtonBar]="true" [init]="toEdit"
            [idFascicolo]="dettaglio.id">
        </app-nuova-comunicazione>
    </div>
</div>