<app-alert [(visible)]="alertData.display" [extraData]="alertData.extraData" [type]="alertData.typ"
  [hasConfirm]="alertData.isConfirm" (action)="callbackAlert($event)" [content]="alertData.content"
  [title]="alertData.title" [modal]="false"></app-alert>
<app-delete-allegati-dialog [sezione]="'adminTemplateDoc'" (emitPlanAllegatiDeletion)="deleteImage($event)">
  </app-delete-allegati-dialog>
  <!-------------------------------------------------------------------------------------------------------------------------->

<div class="container-fluid" *ngIf="!dettaglio">
  <div class="portlet-content-container">
    <div class="mtop20">
      <div class="dflex align-items-center" style="padding-top: 1.5em; padding-bottom: .8em;">
        <div class="col-auto nop">
          <div class="input-group paginazione">
            <div class="input-group-prepend">
              <div class="input-group-text">{{'generic.elementiPerPagina' | translate}}</div>
            </div>
            <p-dropdown class="dflex max100 no-min-width" (onChange)="changeRows($event.value)" [(ngModel)]="rowsOnPage"
              [options]="pages" [autoWidth]="false"></p-dropdown>
          </div> <!-- Fine Paginazione -->
        </div>
      </div>

      <div class="row tableContainer tableContainerCustom mbottom20">
        <p-table [value]="data" [lazy]="true" [rows]="rowsOnPage" [responsive]="true">
          <ng-template pTemplate="header" let-columns>
            <tr style="background-color: gray!important;">
              <th style="width: 24%">
                {{'templateComunicazioni.label.nome' | translate}}
              </th>
              <th>
                {{'templateComunicazioni.label.descrizione' | translate}}
              </th>
              <th style="width: 100px"></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-rowData>
            <tr>
              <td>{{ rowData.nome }}</td>
              <td>{{ rowData.descrizione }}</td>
              <td class="nowrap text-center">
                <div ngbTooltip="Modifica">
                  <button class="bttn bttn-table btn btn-primary" (click)="openDettaglio(rowData)">
                    <fa-icon icon="edit"></fa-icon>
                  </button>
                </div>
              </td>
            </tr>
          </ng-template>

          <ng-template pTemplate="emptymessage" let-columns>
            <tr>
              <td [attr.colspan]="3">
                <span style="text-align: center">{{'generic.norows' | translate}}</span>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
            <!-- Paginazione -->
            <div class="row noml nomr">
              <div class="col-md-12">
                      <ngb-pagination [collectionSize]="itemsTotal" [maxSize]="10" [ellipses]="true"
                          [boundaryLinks]="true" [pageSize]="rowsOnPage"
                          (pageChange)="pageChangedAction($event)" [(page)]="page"
                          aria-label="Default pagination"></ngb-pagination>
                  </div>
            </div>

    </div>
  </div>
</div>

<div class="container-fluid" *ngIf="dettaglio">
  <div class="portlet-content-container">
    <form [formGroup]="formDettaglio">
      <!-- Template del dettaglio -->
      <div class="row noml nomr" *ngFor="let sezione of itemInEdit.sezioni">
        <div class="col-md-12">
          <ng-container [ngSwitch]="sezione.tipoSezione">
            <!-- CASO FILE IMAGE-->
            <div class="form-group" *ngSwitchCase="'IMAGE'">
              <label>{{sezione.nome}}</label>
              <app-table-no-filter [disableButton]="disable"
                [attachmentsPerFileType]="attachmentsPerFileType.get(sezione.nome)"
                [tableHeadersAttachment]="tableHeadersAttachment" (fileEmitter)="caricaDocumento($event)"
                [filterFileToUploadFn]="checkFileSizeType"
                (deleteEmitter)="deleteFileFromTable($event)"
                (downloadEmitter)="download($event)"></app-table-no-filter>
            </div>
            <!-- CASO  HTML -->
            <div class="form-group" *ngSwitchCase="'HTML'"  >
              <label > {{sezione.nome}} *
                <span *ngIf="sezione.placeholders && sezione.placeholders.length>0" class="hyperlink"  (click)="openInfo(sezione.placeholders)">
                  <fa-icon icon="link"></fa-icon>
                </span>
              </label>
              <p-editor  name="textArea" [style]="{'height':'320px'}" [formControlName]="sezione.nome" [ngClass]="{'is-invalid': formDettaglio.controls[sezione.nome].errors}">
                <p-header>
                  <span class="ql-formats">
                      <button class="ql-bold" aria-label="Bold"></button>
                      <button class="ql-italic" aria-label="Italic"></button>
                      <button class="ql-underline" aria-label="Underline"></button>
                      <button class="ql-sup" aria-label="Sup"></button>
                  </span>
              </p-header> 
              </p-editor>
            </div>
            <!-- CASO TXT -->
            <div class="form-group" *ngSwitchCase="'TEXT'" >
              <label> {{sezione.nome}} *
                <span *ngIf="sezione.placeholders && sezione.placeholders.length>0" class="hyperlink" (click)="openInfo(sezione.placeholders)">
                  <fa-icon icon="link"></fa-icon>
                </span>
              </label>
              <input type="text" class="form-control" [formControlName]="sezione.nome" maxlength="{{const.MAX_LEN_TEXT_TEMPLATE_DOCUMENT}}"
              [ngClass]="{'is-invalid': formDettaglio.controls[sezione.nome].errors}"/>
            </div>
            <div *ngIf="(sezione.tipoSezione=='HTML' || sezione.tipoSezione=='TEXT')  && formDettaglio.controls[sezione.nome].errors">
              <small *ngIf="formDettaglio.controls[sezione.nome].errors.required && formDettaglio.controls[sezione.nome].touched" class="invalid-feedback">
                {{'generic.required'|translate}}
              </small>
              <small *ngIf="formDettaglio.controls[sezione.nome].errors.maxlength && formDettaglio.controls[sezione.nome].touched" class="invalid-feedback">
                {{'generic.maxlength'|translate:formDettaglio.controls[sezione.nome].errors.maxlength}}
              </small>
            </div> 
          </ng-container>
        </div>
      </div>
    </form>

    <div class="text-center inner-pulsantiera">
      <button type="submit" class="bttn btn btn-primary" (click)="openSalva()">{{'generic.salva'|translate}}
        <fa-icon icon="save"></fa-icon></button>
        <button type="submit" class="bttn btn btn-primary" (click)="downloadAnteprima()">{{'generic.preview'|translate}}
          <fa-icon icon="save"></fa-icon></button>
      <button type="button" class="bttn btn btn-primary"
        (click)="resetTemplate()">{{'templateComunicazioni.buttons.reset'|translate}}<fa-icon icon="undo">
        </fa-icon>
      </button>
      <button (click)="back()" class="bttn btn btn-primary">{{'generic.chiudi'|translate}}<fa-icon icon="times">
                    </fa-icon>
                    </button> 
    </div>

  </div>
</div>