<p-table [value]="tableData" [style]="{ width: '70%' }">
  <ng-template pTemplate="header">
    <tr>
      <th>Ente</th>
      <th>Mail/PEC</th>
      <th *ngIf="isUlteriori"></th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-data let-i="rowIndex">
    <tr>
      <td>
        {{ data.denominazione}}
      </td>
      <td>{{ data.mail }}</td>
      <td *ngIf="isUlteriori" class="text-right">
        <button data-toggle="tooltip" data-placement="top" type="button" class="bttn-table bttn btn-danger" tooltipPosition="left"
          placement="left" delay="500" (click)="delete(data.id)" [class.blur-button]="disabled">
          <em class="fa fa-trash" aria-hidden="true"></em>
        </button>
      </td>
    </tr>
  </ng-template>
  <ng-template pTemplate="emptymessage">
    <tr>
      <td colspan="3" style="text-align:left">Nessun ulteriore destinatario presente.</td>
    </tr>
  </ng-template>
</p-table>