.btn-shell {
  border-radius: 50%;
  border: 3px solid #fff;
  width: 30px;
  height: 30px;
  padding: 0px;
  cursor: default;
}

.btn-gray {
  background-color: rgb(117, 112, 112);
}
.btn-blue {
  background-color: rgb(19, 60, 245);
}
.btn-yellow {
  background-color: rgb(241, 226, 8);
}
.btn-green {
  background-color: rgb(8, 235, 20);
}
