.margin-top {
  margin-top: 35px;
}
.div-style {
  background-color: #f3f3f3;
  display: inline-block;
  position: relative;
  padding: 8px 15px;
  color: #080808;
  top: -38px;
  left: 15px;
  text-transform: uppercase;
  text-align: center;
}
.inline-text {
  display: inline-block !important;
}
.inline {
  display: inline-flex !important;
}

.padding-left {
  padding-left: unset !important;
}
.padding-right {
  padding-right: unset !important;
}
