<div class="ml-3 mr-3 mt-4">
    <ng-container *ngFor="let form of delegatoFormArray.controls; let i = index">
        <p-accordion [formGroup]="form" *ngIf="form">
            <p-accordionTab
                header="{{i == 0 ? 'Dati Delegato' 
                : ((form.get('cognome').value && form.get('nome').value ? 'SCHEDA TITOLARE [' + form.get('cognome').value + ' ' + form.get('nome').value + ']':'tab.altro_proponente')) 
                | translate }}"
                [selected]="true"
                style="padding-bottom:10px"
                >

                <div class="container-fluid ">
                    <div class="row">
                        <div class="col-md-6">
                            <app-text-field formControlName="cognome"
                                [label]="('DELEGATO_TAB.SURNAME' | translate | uppercase) + '*'" [maxlength]="100"
                                [validation]="validation" [errors]="form.get('cognome').errors"
                                [disabled]="true"
                                >
                            </app-text-field>
                        </div>
                        <div class="col-md-6">
                            <app-text-field formControlName="nome"
                                [label]="('DELEGATO_TAB.NAME' | translate | uppercase) + '*'" [maxlength]="100"
                                [validation]="validation" [errors]="form.get('nome').errors"
                                [disabled]="true"
                                >
                            </app-text-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <app-text-field formControlName="codiceFiscale" [uppercase]="true"
                                [label]="('DELEGATO_TAB.TAX_CODE' | translate | uppercase) + '*'" [maxlength]="16"
                                [validation]="validation" [errors]="form.get('codiceFiscale').errors"
                                [disabled]="true"
                                >
                            </app-text-field>
                        </div>
                        <div class="col-md-2 d-flex flex-row justify-content-between">
                            <div class="form-group radio">
                                <label>{{('DELEGATO_TAB.SEX' | translate | uppercase) + '*'}}</label>
                                <div class="radio-group">
                                    <p-radioButton name="{{'sesso-delegato-' + i}}" value="F" formControlName="sesso" label="F" [disabled]="disable"></p-radioButton>
                                    &nbsp;
                                    &nbsp;
                                    <p-radioButton name="{{'sesso-delegato-' + i}}" value="M" formControlName="sesso" label="M" [disabled]="disable"></p-radioButton>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <app-date-picker-field formControlName="dataNascita"
                                [formControlName]="'dataNascita'"
                                [yearRange]="'1910:'+const.MAX_YEAR_MAGGIORENNI"
                                [defaultDate]="const.MAX_DATE_MAGGIORENNI"
                                [label]="('DELEGATO_TAB.BORN_ON' | translate ) + '*'" [validation]="validation"
                                [errors]="form.get('dataNascita').errors" [maxDate]="const.MAX_DATE_MAGGIORENNI"
                                [disabled]="disable"
                                >
                            </app-date-picker-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-stato-citta-prov-field [formGroupSet]="form" 
                            [nazionalita]="'nazioneNascita'"
                                [provincia]="'provinciaNascita'" 
                                [comune]="'comuneNascita'"
                                [comuneEstero]="'comuneNascitaEstero'"
                                [validateComuneEstero]="residenzaRequired"
                                [label]="('DELEGATO_TAB.IN' | translate | uppercase) + '*'" 
                                [submitted]="residenzaRequired ? validation : false"
                                [disable]="disable"
                                >
                            </app-stato-citta-prov-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <app-stato-citta-prov-field [formGroupSet]="form" 
                             [nazionalita]="'nazioneResidenza'"
                                [provincia]="'provinciaResidenza'" 
                                [comune]="'comuneResidenza'"
                                [comuneEstero]="'comuneResidenzaEstero'"
                                [validateComuneEstero]="residenzaRequired"
                                [label]="('DELEGATO_TAB.RESIDENT' | translate | uppercase)"
                                [submitted]="residenzaRequired ? validation : false"
                                [disable]="disable"
                                >
                            </app-stato-citta-prov-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <app-text-field 
                                formControlName="indirizzoResidenza"
                                [label]="('DELEGATO_TAB.ADDRESS' | translate | uppercase)"
                                [validation]="validation" [errors]="form.get('indirizzoResidenza').errors"
                                [maxlength]="400"
                                [disabled]="disable"
                                >
                            </app-text-field>
                        </div>
                        <div class="col-md-2">
                            <app-text-field formControlName="civicoResidenza"
                                [prepend]="'DELEGATO_TAB.N' | translate | lowercase" [label]="'&nbsp;'"
                                [validation]="validation" [errors]="form.get('civicoResidenza').errors"
                                [maxlength]="100"
                                [disabled]="disable"
                                >
                            </app-text-field>
                        </div>
                        <div class="col-md-2">
                            <app-text-field formControlName="capResidenza"
                                [prepend]="'DELEGATO_TAB.CAP' | translate | uppercase" [label]="'&nbsp;'"
                                [maxlength]="5" [validation]="validation" [maxlength]="5"
                                [errors]="form.get('capResidenza').errors"
                                [disabled]="disable"
                                ></app-text-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <app-text-field formControlName="pec"
                                [label]="('DELEGATO_TAB.PEC' | translate | uppercase) + '**'" [maxlength]="100"
                                [validation]="validation" [errors]="form.get('pec').errors"
                                [disabled]="disable"
                                >
                            </app-text-field>
                        </div>
                        <div class="col-md-6">
                            <app-text-field formControlName="mail"
                                [label]="('DELEGATO_TAB.EMAIL_ADDRESS' | translate | uppercase) + '**'"
                                [maxlength]="100" [validation]="validation" [errors]="form.get('mail').errors"
                                [disabled]="disable"
                                >
                            </app-text-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 pb20">
                            <b>
                                ** {{'REQUESTER_TAB.REQUIRED_INFO_MAIL' | translate}}
                                <br/>
                                {{'REQUESTER_TAB.USO_INFO_MAIL' | translate}}
                            </b>
                        </div>
                    </div>
                    <ng-container *ngIf="soloLettura">
                        <app-section-header [title]="'CREATION.DELEGA' | translate"></app-section-header>
                        <app-document-table  
                                [tableHeaders]="documentTableHeaders" 
                                [tableData]="tableData[i]"
                                (emitDownload)="scaricaDocumento($event)"
                                [disabled]="true"
                        ></app-document-table>
                        <app-section-header *ngIf="tableSollevamento != null && tableSollevamento.length > 0
                            && tableSollevamento[i][0].id != null" [title]="'CREATION.SOLLEVAMENTO' | translate"></app-section-header>
                        <app-document-table
                                *ngIf="tableSollevamento != null && tableSollevamento.length > 0 && tableSollevamento[i][0].id != null"  
                                [tableHeaders]="documentTableHeaders" 
                                [tableData]="tableSollevamento[i]"
                                (emitDownload)="scaricaDocumento($event)"
                                [disabled]="true"
                        ></app-document-table>
                    </ng-container>
                </div>
            </p-accordionTab>
        </p-accordion>
    </ng-container>
</div>