.display-elements{
    display: inline-block;
}
/*.footer-style{
    background-color: #e6e7e8;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}*/
.style-info{
    margin-top: -10px;
    font-size: 3em;
    border: 2px solid #2196F3;
    color: #2196F3;
    border-radius: 50%;
    padding: 4px;
    width: 50px;
    height: 50px;
    text-align: center;
    float: left;
    margin-right: 20px;
}
/*.button-style{
    font-size: 1.1em;
    background-color: #616161;
    font-weight: bold;
    border: 0px solid;
    padding: 7px 15px;
    color: #fff;
    border-radius: 0;
}*/