<!--sostituito da app-pagamenti-mypay-mod3-->
<!--<ng-container *ngIf="!disabled">
<div class="row">
  <div class="col">{{'PAGAMENTI.LEGENDA'|translate}}
    <img class="maxH50" src="assets/logo-MyPay.png" />
    <img class="maxH50" src="assets/pagolapa-blu.png" />
    {{'PAGAMENTI.LEGENDA2'|translate}}
  </div>
</div>
<div class="row" [formGroup]="formInput">
  <div class="col-md-2">
    <div class="form-group">
      <label>{{'PAGAMENTI.IMPORTO'|translate}}</label>
      <div class="input-group">
        <input class="form-control" 
        type="text" 
        formControlName="importo" [placeholder]="'0,00'"
          [ngClass]="{'is-invalid': accendiValidazione && formInput.get('importo').errors }">
        <div class="input-group-append">
          <span class="input-group-text">€</span>
        </div>
        <app-input-error [errors]="formInput.get('importo').errors " [validation]="accendiValidazione">
        </app-input-error>
      </div>
    </div>
  </div>
  <div class="col-md-10">
    <div class="form-group">
      <app-text-field formControlName="causale" [prepend]="codicePratica"
        [label]="('PAGAMENTI.CAUSALE' | translate | uppercase) + '*'" [validation]="accendiValidazione"
        [errors]="formInput.get('causale').errors"></app-text-field>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-2 offset-md-5">
    <button (click)="paga()" 
    [disabled]="maxImporto>0 && maxImporto<=(objTotali['OK']?objTotali['OK']:0)+(objTotali['INCORSO']?objTotali['INCORSO']:0)" 
    type="button" label="" class="bttn btn btn-primary">{{ 'PAGAMENTI.AVVIA' | translate }}
    </button>
  </div>
</div>
</ng-container>
<app-generic-table 
    [items]="pagamentiData" 
    [totalItems]="recTotali" [header]="intestazioneTabella"
    (onPaging)="cambioPagina($event)" 
    [disableEditButton]="true" 
    [disableDeleteButton]="true"
    [disableSelectButton]="true" 
    [customElement]="totaliElement"
    #tablePagamenti
    [rowsPerPage]="pagSearch.limit"></app-generic-table>
<ng-template #totaliElement>
  <div class="float-right containerBtnAggiuntivi dflex align-items-center mt-3">
    <div *ngIf="maxImporto>0">
      <label>Max ammesso:&nbsp;</label>
      <span class="currency">{{maxImporto|currency: 'EUR':'symbol'}}</span>&nbsp;&nbsp;&nbsp;
    </div>
    <div *ngIf="mapTotali" class="col text-right nop">
        <label>Totali:&nbsp;</label>
        <ng-container *ngFor="let tot of mapTotali">
          <div class="dflex">
          <app-circle [backgroundColor]="tot.color" [status]="tot.label"></app-circle>
          <span class="mt-1 currency">{{tot.importo|currency: 'EUR':'symbol'}}</span>&nbsp;
          </div>
        </ng-container>
    </div>
  </div>
</ng-template>-->