<div class="container-fluid mt-5">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-md-3">
        <app-text-field
        [label]="'INDIRIZZI_ENTI.DENOMINAZIONE' | translate | uppercase"
        [id]="'denominazione'"
        [name]="'denominazione'"
        formControlName="denominazione"
      ></app-text-field>
      </div>
      <div class="col-md-3">
        <app-text-field
        [label]="'INDIRIZZI_ENTI.TIPOLOGIA' | translate | uppercase"
        [id]="'tipologia'"
        [name]="'tipologia'"
        formControlName="tipologia"
      ></app-text-field>
      </div>
      <div class="col-md-3">
        <app-text-field
        [label]="'INDIRIZZI_ENTI.PEC' | translate | uppercase"
        [id]="'pec'"
        [name]="'pec'"
        formControlName="pec"
      ></app-text-field>
      </div>
      <div class="col-md-3">
        <app-text-field
        [label]="'INDIRIZZI_ENTI.MAIL' | translate | uppercase"
        [id]="'mail'"
        [name]="'mail'"
        formControlName="mail"
      ></app-text-field>
      </div>
    </div>
    <div class="row clearfix mt-5">
      <div class="col-md-12 text-center mt-3 mb-1">
        <button type="button" class="bttn btn btn-primary" (click)="save()">
          {{'BUTTONS.SAVE_BUTTON'|translate}}
          <fa-icon icon="save"></fa-icon>
        </button>
        <button type="button" class="bttn btn btn-primary" (click)="reset()">
          {{'BUTTONS.CANCEL_BUTTON'|translate}}
          <fa-icon icon="times"></fa-icon>
        </button>
      </div>
    </div>
  </form>
</div>
