.wrapper {
    padding: 15px;
    border: 1px solid #dee2e6;
    margin-top: -1px;
    padding-bottom: 3em;
}

.nav-item {
    margin-right: 2px;
    background-color: white;
}

.nav-tabs {
    background: white;

    .nav-link {
        background: white;

        &.active {
            background: white;
            border-bottom: 1px solid white!important;
        }
    }
}

.esri-view {height: 500px;background-color: #fcfcfc;}
