<!--<p-fieldset legend="{{'fascicolo.elencoAllegati'|translate}}">-->
<app-allegati-form [dettaglioFascicolo]='dettaglioFascicolo' 
      [sezione]="'allegati'" [disable]="disable"
      [checkFileType]="checkFileTypeSize"
      [tableHeadersAttachment]="tableHeadersAttachment"></app-allegati-form>
<!--<div class="row noml nomr">
      <div class="col-md-12">
            <label>* {{'generic.required'|translate}}</label>
            <label>** {{'fascicolo.tableAllegati.obbligatori'|translate}}</label>
      </div>
</div>-->
<!--</p-fieldset>-->