.green {
  float: left;
}

.green-square {
  background-color: green;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  float: left;
  margin-top: 4px;
  margin-right: 2px;
}

.red {
  float: left;
}

.red-square {
  background-color: rgb(184, 0, 0);
  height: 15px;
  width: 15px;
  border-radius: 3px;
  float: left;
  margin-top: 4px;
  margin-right: 2px;
  margin-left: 20px;
}

.btn.btn-edit {
  border-radius: 50%;
  color: #fff;
  width: 30px;
  height: 30px;
  padding: 0px;
  border: 3px solid #fff;
  background-color: #007BFF;
}
.btn.btn-view{
  border-radius: 50%;
	color: #fff;
	width: 30px;
	height: 30px;
	padding: 0;
	border: 3px solid #fff;
	background-color: #28a745;
}

.btn-red {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: rgb(184, 0, 0);
}

.btn-green {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0px;
  background-color: green;
}

.red-botton-th {
  width: 60px;
  text-align: center;
}

.edit-th {
  width: 60px;
  text-align: center;
}
