.dettagglio-fascioclo {
  border: 1px solid transparent;
  margin-bottom: 15px;

  .arrow {
    height: 20px;
    width: 100%;
    position: relative;
    .time-line {
      height: 3px;
      background-color: green;
      width: 100%;
    }
    .square {
      transform: rotate(45deg) translate(-70%, 75%);
      border-right: 3px solid green;
      border-top: 3px solid green;
      height: 17px;
      width: 17px;
      float: right;
      background-color: transparent;
      position: absolute;
      left: 100%;
    }
  }
  .label-circle-square {
    width: 0;
    height: 60px;
    position: relative;
    bottom: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;

    .circle-wrapper {
      .time-line-circle {
        height: 17px;
        width: 17px;
        background-color: green;
      }
    }
    .square-wrapper {
      .label-square {
        height: 30px;
        width: 90px;
        background-color: green;
        p {
          color: white;
          text-align: center;
          margin-top: 3px;
          
        }
      }
    }
    .data-creazione {
      font-size: 12px;
      width: 90px;
    }
  }

  .timeline {
    position: relative;
    margin: 0 45px;
  }
}

.ui-button {
  border-color: transparent;
}

.ui-button.black-button {
  background-color: rgb(117, 112, 112) !important;
}

.ui-button.yellow-button {
  background-color: rgb(241, 226, 8) !important;
  color: black;
}
