<div class="mb-4">
  <!-- <div class="input-group mb-3">
      <span class="input-group-addon">
          {{'NUMBER_OF_ROWS_PER_PAGE' | translate}}
      </span>
      <p-dropdown [styleClass]="'dropdown-style'" [options]="rowsPerPage" [(ngModel)]="selectedNumberOfRows" (onChange)="changeRowsPerPage()"></p-dropdown>
      <span class="rows-per-page-span">
      da {{paginationEvent.first+1}} a {{paginationEvent.first+tableData.pageSize}} di {{tableData.count}}
      </span>
    </div> -->
<p-table
#tt
[columns]="indirizziEntiTableHeaders"
[value]="tableData"
[paginator]="true"
[rows]="5"
class="mb-2"
[rowsPerPageOptions]="[5, 10, 25]"
>
<ng-template pTemplate="header" let-columns>
  <tr>
    <th
      [ngStyle]="{ width: col.width ? col.width + '%' : '' }"
      *ngFor="let col of columns"
      [pSortableColumn]="col.field"
      [ngSwitch]="col.field"
      [pSortableColumnDisabled]="col.field === ''"

    >
      {{ col.header | translate }}
      <p-sortIcon
      *ngIf="col.field !== ''"
        [field]="col.field"
      ></p-sortIcon>
    </th>
  </tr>
</ng-template>
<ng-template
  pTemplate="body"
  let-rowData
  let-index="rowIndex"
  let-columns="columns"
>
  <tr *ngIf="tableData.length > 0">
    <td
      *ngFor="let col of columns; let i = index"
      [attr.data-label]="columns[i].header | translate"
    >
      <ng-container *ngIf="col.field !== ''">
        {{rowData[col.field]}}
      </ng-container>
      <ng-container *ngIf="col.field === ''">
        <div class="text-right">
          <button
            data-toggle="tooltip"
            data-placement="top"
            type="button"
            class="bttn-table bttn btn-primary"
            tooltipPosition="left"
            placement="left"
            delay="500"
            (click)="navigate(rowData['id'])"
          >
            <em class="fa fa-pencil" aria-hidden="true"></em>
          </button>
        </div>
      </ng-container>
    </td>
  </tr>
</ng-template>
</p-table>
<div class="mr-3 ml-3 mb-3 pt-4" *ngIf="tableData.length === 0">
  <app-no-data [title]="'NO_DATA_FOUND' | translate"></app-no-data>
</div>
<!-- <p-paginator
#paginator
[rows]="5"
[totalRecords]="tableData ? tableData.count : 0"
[rowsPerPageOptions]="[5, 10, 20]"
(onPageChange)="paginate($event)"
*ngIf="tableData.list.length > 0"
></p-paginator> -->
</div>
